/* Material Theme */
@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);
/* Material Theme */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS Reset */

/* Body */
body {
  background-color: var(--md-sys-color-background);
}
/* Body */

/* Nav */
.nav-container {
  background-color: var(--md-sys-color-surface-variant);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.nav-container a {
  color: var(--md-sys-color-on-surface-variant);
}

.nav-container a:link {
  text-decoration: none;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* Nav */

/* Search Bar */
.search-bar {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  width: 30rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.search-input {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  width: 100%;
  border-style: none;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
}

/* Search Bar */

/* Create Button */
.create-button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  font-size: 1rem;
  font-weight: 600;
  border-style: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
/* Create Button */

/* Material Symbols */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}
/* Material Symbols */

/* Card */
.card-container {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
  min-height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.creator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.creator-image-container {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card-grid {
  display: grid;
  grid-template-rows: repeat(auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
/* Card */

/* Home */
.home-container {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Home */

/* Hero Section */
.hero-container {
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
  gap: 2rem;
}

.hero-content-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.primary-button {
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  border-style: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.secondary-button {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  color: var(--md-sys-color-primary);
  background-color: transparent;
  border: 1px solid var(--md-sys-color-outline);
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.tonal-button {
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
  border-style: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.link-button {
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--md-sys-color-on-surface-variant);
  background-color: transparent;
  border-style: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* Hero Section */

/* Feature Section */
.features-section {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.feature-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.feature-section img {
  width: 30%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.feature-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* Feature Section */

/* Sign In / Sign Up */

.signin-signup-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
}

.input-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container input {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  width: 100%;
  padding: 1rem;
  border-style: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.signin-button, .signup-button {
  width: 20vw;
}

.form-container {
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  padding: 2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
/* Sign In / Sign Up */

/* Create */
.create-container {
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.create-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.create-option{
  width: 30vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}

.create-btn-cont{
  width: 1000px;
  height: 115px;
  display: flex;
  justify-content: end;
}
.create-flash-btn{
  background-color: rgb(63, 63, 232);
  color: white;
  width: 20vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(63, 63, 232);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}
.color{
  color: white;
}
/* Create */

/* Profile */
.profile-container {
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.profile-container h6 {
  text-transform: uppercase;
}

.profile-top-section {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

.profile-image {
  width: 15%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.personal-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}

.contributions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contribution-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.contribution-card {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stats-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.stats-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: 1rem;
  align-items: left;
  padding: 2rem;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* Profile */

/* Footer */
.footer-container {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
}

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.footer-column {
  width: 33%;
}

.footer-column li {
  list-style: none;
}
/* Footer */

/* Start of Flashcard container */
.flashcards-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.flashcards{
  padding: 2rem;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.flashcards-inner-container{
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flashcards-definition{
  width: 100%;
  height: 100%;
}

.flashcards-term:hover .flashcards-definition{
  transform: rotateY(180deg);
}

.flashcard-number{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;

}

.prev-next-container{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

.prev-card{
width: 8rem;
height: 3rem;
color: var(--md-sys-color-on-secondary);
background-color: var(--md-sys-color-secondary);
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;;
}

.next-card{
  width: 8rem;
  height: 3rem;
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
/* End of Flashcard container */

/* Start of createFlashCards container */

.flashcard-header{
  color: aliceblue;
}
.create-flashcards-container{
  display: flex;
  flex-direction: column;
}
/* End of createFlashCards container */

/* Start of create-title container */

.create-title-container{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0 0 0 / 25%);
  box-shadow: 0 4px 4px rgb(0 0 0 / 3%);
  width:1000px;
  height:38px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container{
  background-color: rgb(255, 255, 255);
  width:990px;
  height:30px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-inner-container{
  background-color: rgb(255, 255, 255);
  width: 980px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.title-input{
  outline: none;
  background-color: transparent;
  border: none;
  width:980px;
  height:30px;
  font-size:12px;
  color:rgb(0, 0, 0);
}
/* End of create-title container */

/* Start of description-title container */
.create-desc-container{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0 0 0 / 25%);
  box-shadow: 0 4px 4px rgb(0 0 0 / 3%);
  width:500px;
  height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.desc-container{
  background-color: rgba(87, 23, 23, 0);
  width:490px;
  height:140px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc-inner-container{
  background-color: rgba(166, 217, 159, 0);
  width:485px;
  height:135px;
  border-radius:10px;
  display: flex;
}
.desc-input{
  outline: none;
  background-color: transparent;
  border: none;
  width: 480px;
  height: 130px;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
/*End of desc-title container*/

/*start of create-tiles container*/

.create-tiles-container{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0 0 0 / 25%);
  box-shadow: 0 4px 4px rgb(0 0 0 / 3%);
  width:1000px;
  height:190px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.tiles-container{
  background-color: rgba(87, 23, 23, 0);
  width:990px;
  height:190px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiles-inner-container{
  background-color: rgba(166, 217, 159, 0);
  width:985px;
  height:185px;
  border-radius:10px;
  display: flex;
  flex-direction: column;
}
.number-trash-container{
  background-color: rgba(72, 156, 61, 0);
  width:985px;
  height:40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1.5px black solid;
}
.number{
  background-color: rgba(242, 255, 0, 0);
  height: 40px;
  width: 30px;
  text-align: center;
  line-height: 40px;

}
.trash-can{
  background-color: rgb(242, 255, 0);
  width: 30px;
  text-align: center;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
}

.term-def-container {
  background-color: rgba(72, 156, 61, 0);
  width:985px;
  height:115px;
  border-radius:10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.term-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.def-container {
  border: 1px solid;
  width:430px;
  height: 30px;
  background-color: bisque;
  border: none;
  outline: none;
  border-bottom:3px black solid;


}

.add-tile-container{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0 0 0 / 25%);
  box-shadow: 0 4px 4px rgb(0 0 0 / 3%);
  width:1000px;
  height:120px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.inner-add-container{
  background-color: rgba(166, 211, 160, 0);
  width:985px;
  height:115px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.add-button-container{
  background-color: rgba(211, 160, 160, 0);
  width:175px;
  height:75px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-card-btn{
  background-color: transparent;
  border:none;
  color: rgb(0, 140, 255);
  border-bottom: 5px solid rgb(0, 179, 255);
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
/*End of create-tiles container*/