/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS Reset */

/* Nav */
.nav-container {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem
}

/* Nav */


